body {
  background: #f2eee2;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 4.5rem;
  text-align: center;
  margin: 1rem 0 2rem 0;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

a.control {
  margin: 0 0.5em 0 0.5em;
}

a.secondary {
  color: rgb(118, 118, 118);
}

span.clock {
  display: inline-block;
  width: 0.8em;
  font-size: 1.7rem;
}
